<h1>Duke And Aian</h1>

<%= link_to "There are #{pluralize(@scientists.count, "scientist")}", scientists_path %><br>
<%= link_to "There are #{pluralize(@planets.count, "planet")}", scientists_path %><br>
